.events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.event-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-details {
  padding: 15px;
}

.event-title {
  font-size: 1.25rem;
  margin: 0 0 5px;
  color: #2c3e50;
}

.event-description {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

.date {
  margin-bottom: 5px;
}

.pagination-pages {
  width: min(80%, 500px);
  aspect-ratio: 12/1;
  margin: 10px auto 20px;
  display: flex;
  justify-content: center;
  gap: 1vw;
  align-items: center;
}
.pagination-buttons,
.pagination-buttons-disabled,
.pagination-buttons-active {
  outline: none;
  border: none;
  background-color: #2563eb;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(13.75vw,82.5px);
  aspect-ratio: 2.75/1;
  gap: 0.5vw;
  border-radius: 0.5vw;
  transition: 0.3s ease;
  cursor: pointer;
  user-select: none;
  font-size: clamp(0.2rem,2vw,0.75rem);
}

.pagination-buttons-disabled{
  background-color: #93c5fd;
  pointer-events: none;
  transition: 0.3s ease;
  user-select: none;
}

.pagination-buttons-active{
  background-color: #fff;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.pagination-buttons:hover{
  background-color: #1d4baf;
  transition: 0.3s ease;
}

.pagination-buttons .icon,
.pagination-buttons-disabled .icon {
  font-size: clamp(0.2rem,3vw,1rem);
  color: #fff;
  transition: 0.3s ease;
}

.pagination-buttons-active .icon{
  color: #2563eb;
  transition: 0.3s ease;
}

.pagination-page{
  outline: none;
  border: none;
  border: min(0.3vw,2px) solid #2563eb;
  background-color: #fff;
  color: #2563eb;
  width: min(6vw,34px);
  aspect-ratio: 1.2/1;
  border-radius: 0.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.2rem, 2vw, 0.75rem);
}
.pagination-page:hover{
  background-color: #e4e4e4;
  transition:0.3s ease;
}

.pagination-page-current{
  outline: none;
  border: none;
  border: 0.2vw solid #2563eb;
  background-color: #2563eb;
  color: #fff;
  width: min(6vw,34px);
  aspect-ratio: 1.2/1;
  border-radius: 0.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.2rem, 2vw, 0.75rem);
}

.pagination-truncated{
  font-size: clamp(0.2rem,2vw,1rem);
}

@media (max-width: 1024px) {
  .events-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .events-container {
    grid-template-columns: 1fr;
  }
}
